# Exploring and Cleaning Data

In the following code I will be performing both exploratory analysis and cleaning the data provided within three excel spreadsheets. These spreadsheets contain budget information for the City of Missoula and aligining Program Inventory information surrounding different programs that are funded by the City of Missoula. 

The data provided is messy and comes from both the financial software that is used, but also from a different software that collects survey responses. The data in the excel files is messy and unclean. This process will load the files into the environment, perform data cleaning functions to prepare the data for manipulation in Power Bi. In Power BI, I will create a dashboard that provides information about all of the different programs currently funded and provide granular breakdowns for financial and other important information therein. 

Once the data is cleaned I will conduct some exploratory analysis on the newly cleaned data to see how it performs.

In [19]:
### Importing Libraries
# Standard Libraries
import os

# Text Cleaning
import re

# Data Handling
import pandas as pd
import numpy as np

# Excel Handling
import openpyxl

# Additional Cleaning Utilities; each labeled below
from tqdm import tqdm  # Adds progress bars to loops
import chardet  # Detects encoding issues
import janitor # Chaining and Cleaing Helpers

# Visualization
import missingno as msno
import matplotlib.pyplot as plt

In [20]:
## define the file paths

data_path = "data/"

## Load Files; only the first sheet in expenditure and program inventory, all of the sheets in revenue expense. 
revenue_expense = pd.read_excel(
    os.path.join(data_path, "FY24_Revenue_Expense_Data.xlsx"), 
    sheet_name=None, engine="openpyxl")


## No longer skipping 6 rows due to new logics that were created. 
expenditure_status = pd.read_excel(
    os.path.join(data_path, "FY24_Expenditure_Status.xlsx"), 
    sheet_name=0,engine="openpyxl")


program_inventory = pd.read_excel(
    os.path.join(data_path, "Program_Inventory_Internal_Data_Collection.xlsx"), 
    sheet_name=0, engine="openpyxl")

In [21]:
expenditure_status

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,
4,1000,GENERAL FUND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14133,Total DEPRECIATION,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14135,Total GENERAL FIXED ASSETS ACCOUNT GROUP,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14136,Grand Total,338487828.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
### working code with prof; updated with additional logic that works. 

# Condition 1: Keep rows where "Unnamed: 0" has at least one digit
condition_1 = expenditure_status["Unnamed: 0"].astype(str).str.contains(r"\d", na=False)

# Condition 2: Column "Unnamed: 1" must not be empty
condition_2 = expenditure_status["Unnamed: 1"].notna()

# Condition 3: Remove rows where A is numeric and B is just text
condition_3 = ~(
    expenditure_status["Unnamed: 0"].astype(str).str.isnumeric() &
    expenditure_status["Unnamed: 1"].astype(str).str.isalpha()
)

# Condition 4: Remove rows where both A and B are only alphabetic
condition_4 = ~(
    expenditure_status["Unnamed: 0"].astype(str).str.isalpha() &
    expenditure_status["Unnamed: 1"].astype(str).str.isalpha()
)

# Condition 5: Keep only rows where column B contains a number (ensures a dollar amount)
condition_5 = expenditure_status["Unnamed: 1"].astype(str).str.contains(r"\d", na=False)

# Condition 6: Exclude rows where column A contains the word "Total"
condition_6 = ~expenditure_status["Unnamed: 0"].astype(str).str.contains("Total", case=False, na=False)

# Combine all logic conditions
all_conditions = condition_1 & condition_2 & condition_3 & condition_4 & condition_5 & condition_6

# Subset the filtered data
expenditure_filtered_df = expenditure_status[all_conditions].copy()

# Only keep relevant first two columns
expenditure_filtered_df = expenditure_filtered_df.iloc[:, :2]

# Rename columns for clarity
expenditure_filtered_df.columns = ["account_number", "adjusted_appropriation"]

# Preview the cleaned result
expenditure_filtered_df.head()

                                       account_number adjusted_appropriation
9        1000.210.410100.110.000   SALARIES AND WAGES                 214440
10   1000.210.410100.140.000   EMPLOYER CONTRIBUTIONS                 199915
11  1000.210.410100.141.000   STATE RETIREMENT CON...                    217
15          1000.210.410100.210.000   OFFICE SUPPLIES                    200
16       1000.210.410100.230.000   REPAIR/MAINTENANCE                    750

In [23]:
## Display Preview of Files after Loading and pre-cleaning
### Print sheet names in revenue/expense Excel file
print("Revenue Expense Loaded:", revenue_expense.keys())

### Preview filtered expenditure data (after smart logic filters)
print("\n📊 Filtered Expenditure Status Preview:")
print(expenditure_filtered_df.head())

### Preview raw program inventory data (survey structure)
print("\n📋 Program Inventory Preview:")
print(program_inventory.head())

Revenue Expense Loaded: dict_keys(['Rev', 'Exp', 'Status'])

📊 Filtered Expenditure Status Preview:
                                       account_number adjusted_appropriation
9        1000.210.410100.110.000   SALARIES AND WAGES                 214440
10   1000.210.410100.140.000   EMPLOYER CONTRIBUTIONS                 199915
11  1000.210.410100.141.000   STATE RETIREMENT CON...                    217
15          1000.210.410100.210.000   OFFICE SUPPLIES                    200
16       1000.210.410100.230.000   REPAIR/MAINTENANCE                    750

📋 Program Inventory Preview:
   Fund  Org  Activity                  Program Title (H8)  \
0  1000  210    410100                LEGISLATION SERVICES
1  1000  210    419000  GENERAL GOV'T ONETIME EXPENDITURES
2  1000  220    410210                      ADMINISTRATION
3  1000  220    410250                      ADMINISTRATION
4  1000  220    419000  GENERAL GOV'T ONETIME EXPENDITURES

                         Requested Title Change (I9) Department (H6)  \
0                                                  0         Council
1  One Time Expense - Neighborhood Traffic Manage...         Council
2                                     Mayor's Office  Administration
3                              Communications Office  Administration
4                                                  0  Administration

   FTEs (H36)  Personnel (G27)  O&M (G28)  Debt (G29)  ...  \
0        12.0         414572.0    23605.0           0  ...
1         0.0              0.0    20000.0           0  ...
2         3.0         459928.0    69072.0           0  ...
3         1.0         148046.0    24289.0           0  ...
4         0.0              0.0    38105.0           0  ...

                                 Unnamed: 25  \
0  Internal Organizational (City) Dependence
1                                          0
2  Internal Organizational (City) Dependence
3  Internal Organizational (City) Dependence
4                                          0

   Strategic Goal (E64, E66, E68, E74, E80)  \
0                                        No
1                                        No
2                                        No
3                                       Yes
4                                        No

                                Unnamed: 27  \
0                                         0
1                                         0
2                                         0
3  Organizational Excellence and Resilience
4                                         0

                                         Unnamed: 28  \
0                                                  0
1                                                  0
2                                                  0
3  Drive consistency, effectiveness and excellenc...
4                                                  0

                                         Unnamed: 29  Unnamed: 30  \
0                                                  0            0
1                                                  0            0
2                                                  0            0
3  Overhaul and implement social media policies a...            0
4                                                  0            0

          Trend (Demand) (E87, E89)  \
0  Demand for service is increasing
1      Demand for service is stable
2  Demand for service is increasing
3  Demand for service is increasing
4      Demand for service is stable

                                         Unnamed: 32 Risk (E93, E95)  \
0  Increase in council time for committees and in...     Low/No Risk
1                                                  0     Low/No Risk
2  As the City grows and issues become more compl...     Low/No Risk
3  Demand for accurate, timely, appropriate commu...     Low/No Risk
4                                                  0     Low/No Risk

                      Unnamed: 34
0                               0
1                               0
2             Program risk is low
3  Program risk is considered low
4                               0

[5 rows x 35 columns]

In [24]:
## Define Cleaning Functions
def drop_unnamed_columns(df):
    """
    Drops columns with headers like 'Unnamed: XX'.
    These are usually trailing blank columns from Excel exports.
    """
    return df.loc[:, ~df.columns.str.contains("^Unnamed", na=False)]


def clean_numeric_column(column, zfill=None):
    """
    Remove trailing '.0' from numeric-like strings.
    Optionally left-pad with zeros if a zfill length is provided.
    """
    cleaned = column.astype(str).str.replace(r"\.0$", "", regex=True)
    return cleaned.str.zfill(zfill) if zfill else cleaned


def clean_identifiers(df):
    """
    Standardize key identifiers like 'Fund #', 'Dept #' and 'Activity Code'.
    Applies formatting and zero-padding where appropriate.
    """
    if "Fund #" in df.columns:
        df["Fund #"] = clean_numeric_column(df["Fund #"])
    if "Dept #" in df.columns:
        df["Dept #"] = clean_numeric_column(df["Dept #"], zfill=3)
    if "Activity Code" in df.columns:
        df["Activity Code"] = clean_numeric_column(df["Activity Code"], zfill=6)
    return df


def expand_multicolumn_headers(df, column_expansion_map):
    """
    Expands wide compound headers into multiple real columns.
    For example, "Mandate (E41, H41, E43)" → [mandate_e41, mandate_h41, mandate_e43].
    Assumes the next N columns are 'Unnamed'.
    """
    new_columns = []
    col_iter = iter(df.columns)

    while True:
        try:
            col = next(col_iter)
            if col in column_expansion_map:
                expanded = column_expansion_map[col]
                new_columns.extend(expanded)
                for _ in range(len(expanded) - 1):
                    next(col_iter)
            else:
                new_columns.append(col)
        except StopIteration:
            break

    df.columns = new_columns
    return df


def apply_department_and_fund_mappings(df, dept_map, fund_map):
    """
    Applies mapping dictionaries to generate human-readable department/fund names.
    Falls back to 'REDACTED' if no match is found.
    """
    df["Department"] = df["Dept #"].map(dept_map).fillna("REDACTED")
    if "Fund" in df.columns:
        df["Fund Name"] = df["Fund"].map(lambda f: fund_map.get(f, "REDACTED"))
    return df


def clean_program_inventory(df, column_expansion_map, dept_map, fund_map):
    """
    Full cleaning pipeline for the Program Inventory dataset.
    Renames key columns, applies identifier formatting,
    expands compound headers, drops filler columns,
    and applies department/fund mapping.
    """
    df = df.rename(columns={"Org": "Dept #"})
    df = clean_identifiers(df)
    df = expand_multicolumn_headers(df, column_expansion_map)
    df = drop_unnamed_columns(df)
    df = apply_department_and_fund_mappings(df, dept_map, fund_map)
    return df


def remove_leading_trailing_whitespace(df):
    """
    Trim whitespace from all string-like columns only.
    Safely handles object columns that are not strings.
    """
    for col in df.select_dtypes(include="object").columns:
        df[col] = df[col].astype(str).str.strip()
    return df

def standardize_case(df, cols):
    """
    Convert selected columns to title case.
    Useful for labels like 'department' and 'fund name'.
    """
    for col in cols:
        if col in df.columns:
            df[col] = df[col].astype(str).str.title()
    return df

def strip_whitespace_and_standardize(df):
    """
    Combo function to:
    - Remove leading/trailing whitespace from text
    - Title-case key label fields
    """
    df = remove_leading_trailing_whitespace(df)
    df = standardize_case(df, cols=["Department", "Department (H6)", "Fund Name"])
    return df

In [ ]:
## When using the comments in line, it allows you to easily reference them later by using help(function)
## help(fix_multiline_headers)

In [29]:
## Step 7: Data Cleaning Process for Expenditure Status

# ✅ Start from the filtered, clean transactional rows
df_expenditure_status = expenditure_filtered_df.copy()

# 🔄 Rename columns for clarity
df_expenditure_status.columns = ["Account Number", "Adjusted Appropriation"]

# 🧠 Split the structured account number into separate identifiers
split_cols = ["Fund #", "Dept #", "Activity Code", "Object Code", "Sub-object Code"]
split_data = df_expenditure_status["Account Number"].astype(str).str.split(".", expand=True, n=4)
split_data.columns = split_cols

# 🧵 Add split columns to main DataFrame
df_expenditure_status = pd.concat([df_expenditure_status, split_data], axis=1)

# 🧹 Convert identifiers to nullable integer (preserves blanks as <NA>)
for col in split_cols:
    df_expenditure_status[col] = pd.to_numeric(df_expenditure_status[col], errors="coerce").astype("Int64")

# 🔁 Forward-fill Fund and Dept across rows
df_expenditure_status[["Fund #", "Dept #"]] = df_expenditure_status[["Fund #", "Dept #"]].ffill()

# 🚫 Drop rows missing Activity Code — indicates header artifacts
df_expenditure_status = df_expenditure_status.dropna(subset=["Activity Code"]).reset_index(drop=True)

# 🪪 Extract the Account Description from Account Number text
# Assumes description comes after the last space
df_expenditure_status["Account Description"] = df_expenditure_status["Account Number"].astype(str).str.extract(r"(?:\d{3,}\.\d{3,}(?:\.\d{3,}){1,3}\s+)(.*)", expand=False)

# 🧽 Strip leading/trailing spaces in the new column
df_expenditure_status["Account Description"] = df_expenditure_status["Account Description"].str.strip()

# 🎯 Final preview of structured data
print("\n✅ Structured Expenditure Data Preview:")
display(df_expenditure_status.head(10))

✅ Structured Expenditure Data Preview:

,Account Number,Adjusted Appropriation,Fund #,Dept #,Activity Code,Object Code,Sub-object Code,Account Description
0,1000.210.410100.110.000 SALARIES AND WAGES,214440,1000,210,410100,110,<NA>,SALARIES AND WAGES
1,1000.210.410100.140.000 EMPLOYER CONTRIBUTIONS,199915,1000,210,410100,140,<NA>,EMPLOYER CONTRIBUTIONS
2,1000.210.410100.141.000 STATE RETIREMENT CON...,217,1000,210,410100,141,<NA>,STATE RETIREMENT CONTRIBUTIONS
3,1000.210.410100.210.000 OFFICE SUPPLIES,200,1000,210,410100,210,<NA>,OFFICE SUPPLIES
4,1000.210.410100.230.000 REPAIR/MAINTENANCE,750,1000,210,410100,230,<NA>,REPAIR/MAINTENANCE
5,1000.210.410100.240.000 OTHER SUPPLIES,350,1000,210,410100,240,<NA>,OTHER SUPPLIES
6,1000.210.410100.310.000 COMMUNICATIONS,20,1000,210,410100,310,<NA>,COMMUNICATIONS
7,1000.210.410100.320.000 PRINTING & DUPLICATING,250,1000,210,410100,320,<NA>,PRINTING & DUPLICATING
8,1000.210.410100.330.000 PUBLICITY SUBSCRIPTI...,2955,1000,210,410100,330,<NA>,PUBLICITY SUBSCRIPTIONS & DUES
9,1000.210.410100.350.000 PROFESSIONAL SERVICES,7150,1000,210,410100,350,<NA>,PROFESSIONAL SERVICES

In [30]:
# Preview column names to see where compound headers are followed by Unnamed cols
print("\n🧪 Raw Program Inventory Columns:")
for i, col in enumerate(program_inventory.columns):
    print(f"{i}: {col}")

🧪 Raw Program Inventory Columns:
0: Fund
1: Org
2: Activity
3: Program Title (H8)
4: Requested Title Change (I9)
5: Department (H6)
6: FTEs (H36)
7: Personnel (G27)
8: O&M (G28)
9: Debt (G29)
10: Grant (G30)
11: Transfers (G31)
12: Capital (G32)
13: Total Expenditures (G33)
14: Cost Recovery (E58, P24)
15: Unnamed: 15
16: Description (E12)
17: Additional Activities (E20)
18: Mandate (E41, H41, E43)
19: Unnamed: 19
20: Unnamed: 20
21: Service Level (E47, H47, E49)
22: Unnamed: 22
23: Unnamed: 23
24: Reliance & Interdependencies (E53, E55)
25: Unnamed: 25
26: Strategic Goal (E64, E66, E68, E74, E80)
27: Unnamed: 27
28: Unnamed: 28
29: Unnamed: 29
30: Unnamed: 30
31: Trend (Demand) (E87, E89)
32: Unnamed: 32
33: Risk (E93, E95)
34: Unnamed: 34

In [31]:
## Step 8: Generate Mapping Dictionaries for Department & Fund Names

# 🧾 Extract unique Dept and Fund codes from cleaned expenditure data
dept_mapping_df = df_expenditure_status[["Dept #"]].drop_duplicates().dropna()
fund_mapping_df = df_expenditure_status[["Fund #"]].drop_duplicates().dropna()

# 🏷️ Manually create department name lookup dictionary
dept_name_lookup = {
    210: "City Council", 220: "Mayor", 230: "Finance", 240: "Human Resources",
    250: "Legal", 260: "Police", 270: "Fire", 280: "Public Works",
    290: "Parks & Recreation", 300: "Planning & Development", 310: "Library",
    320: "IT Services", 330: "Community Development", 340: "Housing Services"
}

# 🧭 Build final dictionaries from available codes
# These map numeric fund/department values to names
dept_map = dept_mapping_df["Dept #"].astype(int).map(dept_name_lookup).to_dict()
fund_map = fund_mapping_df["Fund #"].dropna().astype(str).to_dict()

# 🪪 Apply human-readable department names to main DataFrame
df_expenditure_status["Department"] = df_expenditure_status["Dept #"].map(dept_name_lookup).fillna("REDACTED")

In [32]:
## Step 9: Final Whitespace Cleanup and Standardization

# 🧼 Strip whitespace and title case key label fields
df_expenditure_status = strip_whitespace_and_standardize(df_expenditure_status)

# ✅ Optional: Preview cleaned structure
print("\n✅ Final Cleaned Expenditure Status Sample:")
display(df_expenditure_status.head(5))

✅ Final Cleaned Expenditure Status Sample:

,Account Number,Adjusted Appropriation,Fund #,Dept #,Activity Code,Object Code,Sub-object Code,Account Description,Department
0,1000.210.410100.110.000 SALARIES AND WAGES,214440,1000,210,410100,110,<NA>,SALARIES AND WAGES,City Council
1,1000.210.410100.140.000 EMPLOYER CONTRIBUTIONS,199915,1000,210,410100,140,<NA>,EMPLOYER CONTRIBUTIONS,City Council
2,1000.210.410100.141.000 STATE RETIREMENT CON...,217,1000,210,410100,141,<NA>,STATE RETIREMENT CONTRIBUTIONS,City Council
3,1000.210.410100.210.000 OFFICE SUPPLIES,200,1000,210,410100,210,<NA>,OFFICE SUPPLIES,City Council
4,1000.210.410100.230.000 REPAIR/MAINTENANCE,750,1000,210,410100,230,<NA>,REPAIR/MAINTENANCE,City Council

In [35]:
## Step 10: Normalize All Column Headers with pyjanitor

# 📦 Normalize expenditure_status (already exists)
df_expenditure_status = df_expenditure_status.clean_names()

# 🧼 Only clean program_inventory if it was already processed
if 'df_program_inventory' in globals():
    df_program_inventory = df_program_inventory.clean_names()

# 🔄 Normalize each sheet in revenue_expense workbook
for sheet_name, df in revenue_expense.items():
    revenue_expense[sheet_name] = df.clean_names()

# 🧪 Preview normalized columns
print("\n📌 Expenditure Status Columns:")
print(df_expenditure_status.columns.tolist())

if 'df_program_inventory' in globals():
    print("\n📌 Program Inventory Columns:")
    print(df_program_inventory.columns.tolist())
else:
    print("\n⚠️ Skipping preview for df_program_inventory (not yet defined)")

📌 Expenditure Status Columns:
['account_number', 'adjusted_appropriation', 'fund_#', 'dept_#', 'activity_code', 'object_code', 'sub_object_code', 'account_description', 'department']

⚠️ Skipping preview for df_program_inventory (not yet defined)

In [37]:
## Step 11: Clean Program Inventory (Survey-Based Intake)

# Define Multi Header expansion mapping for program inventory
column_expansion_map = {
    "Cost Recovery (E58, P24)": ["cost_recovery_e58", "cost_recovery_p24"],
    "Mandate (E41, H41, E43)": ["mandate_e41", "mandate_h41", "mandate_e43"],
    "Service Level (E47, H47, E49)": ["service_level_e47", "service_level_h47", "service_level_e49"],
    "Reliance & Interdependencies (E53, E55)": ["reliance_e53", "reliance_e55"],
    "Strategic Goal (E64, E66, E68, E74, E80)": [
        "strategic_goal_e64", "strategic_goal_e66", "strategic_goal_e68",
        "strategic_goal_e74", "strategic_goal_e80"
    ],
    "Trend (Demand) (E87, E89)": ["trend_demand_e87", "trend_demand_e89"],
    "Risk (E93, E95)": ["risk_e93", "risk_e95"]
}

# 📌 Rename 'Org' to 'Dept #' for consistency with expenditure dataset
program_inventory = program_inventory.rename(columns={"Org": "Dept #"})

# 🧼 Clean identifiers (fund, dept, activity)
program_inventory = clean_identifiers(program_inventory)

# 📐 Expand compound headers into multiple columns using our defined map
program_inventory = expand_multicolumn_headers(program_inventory, column_expansion_map)

# 🧹 Drop unnecessary unnamed columns left over from Excel export
program_inventory = drop_unnamed_columns(program_inventory)

# 🏷️ Map readable department and fund names
df_program_inventory = apply_department_and_fund_mappings(
    program_inventory,
    dept_map=dept_map,
    fund_map=fund_map
)

# 🧽 Final standardization for labels and whitespace
df_program_inventory = strip_whitespace_and_standardize(df_program_inventory)

# 🧪 Preview final column structure
print("\n🧪 Cleaned Program Inventory Columns:")
for i, col in enumerate(df_program_inventory.columns):
    print(f"{i}: {col}")

🧪 Cleaned Program Inventory Columns:
0: Fund
1: Dept #
2: Activity
3: Program Title (H8)
4: Requested Title Change (I9)
5: Department (H6)
6: FTEs (H36)
7: Personnel (G27)
8: O&M (G28)
9: Debt (G29)
10: Grant (G30)
11: Transfers (G31)
12: Capital (G32)
13: Total Expenditures (G33)
14: cost_recovery_e58
15: cost_recovery_p24
16: Description (E12)
17: Additional Activities (E20)
18: mandate_e41
19: mandate_h41
20: mandate_e43
21: service_level_e47
22: service_level_h47
23: service_level_e49
24: reliance_e53
25: reliance_e55
26: strategic_goal_e64
27: strategic_goal_e66
28: strategic_goal_e68
29: strategic_goal_e74
30: strategic_goal_e80
31: trend_demand_e87
32: trend_demand_e89
33: risk_e93
34: risk_e95
35: Department
36: Fund Name

In [38]:
## Step 12A: Normalize column headers using pyjanitor (snake_case, consistent labels)

df_expenditure_status = df_expenditure_status.clean_names()
df_program_inventory = df_program_inventory.clean_names()

# Normalize each sheet in the Revenue/Expense workbook
for sheet_name, df in revenue_expense.items():
    revenue_expense[sheet_name] = df.clean_names()

## Step 12B: Confirm cleaned headers for downstream use (Power BI or merges)

print("\n📌 Expenditure Status Columns:")
print(df_expenditure_status.columns.tolist())

print("\n📌 Program Inventory Columns:")
print(df_program_inventory.columns.tolist())

📌 Expenditure Status Columns:
['account_number', 'adjusted_appropriation', 'fund_#', 'dept_#', 'activity_code', 'object_code', 'sub_object_code', 'account_description', 'department']

📌 Program Inventory Columns:
['fund', 'dept_#', 'activity', 'program_title_h8_', 'requested_title_change_i9_', 'department_h6_', 'ftes_h36_', 'personnel_g27_', 'o&m_g28_', 'debt_g29_', 'grant_g30_', 'transfers_g31_', 'capital_g32_', 'total_expenditures_g33_', 'cost_recovery_e58', 'cost_recovery_p24', 'description_e12_', 'additional_activities_e20_', 'mandate_e41', 'mandate_h41', 'mandate_e43', 'service_level_e47', 'service_level_h47', 'service_level_e49', 'reliance_e53', 'reliance_e55', 'strategic_goal_e64', 'strategic_goal_e66', 'strategic_goal_e68', 'strategic_goal_e74', 'strategic_goal_e80', 'trend_demand_e87', 'trend_demand_e89', 'risk_e93', 'risk_e95', 'department', 'fund_name']

In [39]:
## Step 12C: Export Cleaned Files to CSV and Excel

# Export to standalone CSVs
df_expenditure_status.to_csv("cleaned_expenditure_status.csv", index=False)
df_program_inventory.to_csv("cleaned_program_inventory.csv", index=False)

# Export to a single Excel workbook (multiple sheets)
with pd.ExcelWriter("cleaned_missoula_budget_data.xlsx", engine="openpyxl") as writer:
    df_expenditure_status.to_excel(writer, sheet_name="Expenditure Status", index=False)
    df_program_inventory.to_excel(writer, sheet_name="Program Inventory", index=False)
    for sheet_name, df in revenue_expense.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

In [ ]:
## Add Validations

In [ ]:
## Identify and Merge Points Across Datasets

In [ ]:
## Exploratory Stats & Visuals

In [ ]:
## Statistical Analysis